
  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/javascript.js">
    <script src="javascript.js"></script>
   <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    {{!-- <script>
        let menu = document.getElementById('menu-btn');


menu.addEventListener('click',(event)=>{
    event.preventDefault();
    alert('clicked')
})
    </script> --}}
</body>
</html>