<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MULTI-PAGE-HTML-FILE</title>
    <link rel="shortcut icon" type="image/x-icon" href="../image/web/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/mediaqueries.css">
</head>
<body>
<header class="header">
 <a href="/" class="logo">Yyy </a>

    <nav class="navbar" id="navbar">
        <a class="navbar-bg" href="/">home</a>
        <a class="navbar-bg" href="/about">About</a>
        <a class="navbar-bg" href="/services">Services</a>
        <a class="navbar-bg" href="/blog">Blog</a>
        <a class="navbar-bg" href="/contact">Contact</a>
    </nav>

    <div class="icons">
          <a href=""><box-icon name='menu' id="menu-btn"></box-icon></a>  
    </div>

</header>

